

<h1>Ngb Boostrapt Componentleri</h1>



<!-- component kullanımı -->
	<ngb-alert #alert type="success" (closed)="onClose()">{{message}}</ngb-alert>


<!-- directive kullanımı -->
  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      Toggle dropdown
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </div>


  <hr>


  <h1>Ngx Boostrapt Componentleri</h1>


  <accordion>
    <accordion-group heading="Static Header">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>


<router-outlet></router-outlet>


<hr>


<h1>Angular Material Components </h1>


<mat-selection-list #shoes>
  <mat-list-option *ngFor="let shoe of ['Boots', 'Clogs', 'Loafers', 'Moccasins', 'Sneakers']">
    {{shoe}}
  </mat-list-option>
</mat-selection-list>